<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script>
  <title>AoE2 Techs</title>
</head>

<body>
  <div id="app">
    <div id="civList">
      <button @click="clearAll" id="reset">Clear All</button>
      <label class="exceptionLabel" for="exceptionCheckbox">
        <input type="checkbox" id="exceptionCheckbox" v-model="showExceptions" @change="updateAvailableCivs();updateIncludedAll();" />
        Show Unique Exceptions
      </label>
      <ul class="exception-list">
        <civ-list-item v-for="civ in exceptionCivs" v-bind:civ="civ" :init-highlighted="highlightedCiv === civ" :key="civ"></civ-list-item>
      </ul>
      <ul class="available-list">
        <civ-list-item v-for="civ in availableCivs" v-bind:civ="civ" :init-highlighted="highlightedCiv === civ" :key="civ"></civ-list-item>
      </ul>
      <ul class="disabled-list">
        <civ-list-item v-for="civ in disabledCivs" v-bind:civ="civ" :init-highlighted="highlightedCiv === civ" :key="civ"></civ-list-item>
      </ul>
    </div>
    <div class="tech-wrapper" @wheel="horizontalScrollHandler" id="tech-wrapper">
      <div class="age-container">
        <img src="./img/FeudalAgeIconDE.png" class="age-icon row-1">
        <img src="./img/CastleAgeIconDE.png" class="age-icon row-2">
        <img src="./img/ImperialAgeIconDE.png" class="age-icon row-3">
      </div>
      <tech-container tech-group="BLACKSMITH"></tech-container>
      <tech-container tech-group="ARCHERY_RANGE"></tech-container>
      <tech-container tech-group="BARRACKS"></tech-container>
      <tech-container tech-group="STABLE"></tech-container>
      <tech-container tech-group="SIEGE_WORKSHOP"></tech-container>
      <tech-container tech-group="MONASTERY"></tech-container>
      <tech-container tech-group="DOCK"></tech-container>
      <tech-container tech-group="CASTLE"></tech-container>
      <tech-container tech-group="UNIVERSITY"></tech-container>
      <tech-container tech-group="ECONOMY"></tech-container>
    </div>
  </div>
  
  <script src="disabledtechs.js"></script>
  <script src="tree.js"></script>
  <script src="index.js"></script>
</body>
</html>
